body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

a {color: white;text-align: center;}
h1 {font-family: 'Calistoga', cursive;color: white;margin: 0 auto;
padding-bottom: 8vh;padding-top: 10vh; padding-left:  12vw;text-align: center;}
h2 {font-size: 5vw;text-align: center;}
p {font-size: 3.5vw;font-weight: bold;}
.accentColor { color: #0062ff; text-align: center;}
.requestLink { text-decoration: none; }
.activityLink { text-decoration: none; text-align: left; color: black; }

header h2 {
  text-align: left;
}

.request {
  color: white;
}
.wrap {
  width: 100%;
  padding: 5vw;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Animations */


.fadein {
  height: 60px;
  width: 150px;
  margin: 0 auto;
  padding: 20px;
}
.fadein img {
    width: 150px;
    position:absolute;
    top:15px;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
  animation: none;
}
#f2 {
    -webkit-animation-delay: -1s;
}
#f3 {
    -webkit-animation-delay: -.5s;
}
#f4 {
    -webkit-animation-delay: -.1s;
}

.scaleIn {
	opacity: 1;
	animation-name: scaleInSize;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .2s;
}
@keyframes scaleInSize {
	0% { opacity: 0; transform: scale(0.5); }
	100% { opacity: 1; transform: scale(1); }
}
.fallIn {
	opacity: 1;
	animation-name: fallInAnimation;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .4s;
    position: relative;
}
@keyframes fallInAnimation {
	0% { opacity: 0; top: -50px; }
	100% { opacity: 1; top: 0; }
}

/* form */

.birdLogo {
  position: absolute;
  top: 12vh;
  left: 8vh;
  height: 10vh;
}

form {
  background: white;
  border-radius: 12px;
  padding: 15px;
}

input {-webkit-appearance: none; box-shadow: none !important; }
form input, form select {
  box-sizing: border-box;
  border-radius:4px;
  width: 100%;
  padding: 5vw;
  margin-top: 10px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
}
.submit {
  background-color: #0062ff; 
  color: white;
  border: none;
  font-weight: bold;
}
#name, #password, select {
  border: 1px solid lightgrey;
  color: grey;
}
#name:focus , #password:focus, select:focus {
  border: 1px solid #0062ff;
}
form select {
  width: 100%;
}

/* Dashboard */

.wrapScroll {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  text-align: left;
}
header img {
  width: 15vw;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.requestSlider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.request {
  background-color: #0062ff;
  box-sizing: border-box;
  padding: 5px 15px;;
  border-radius: 12px;
  height: 25vh;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 70%;
  height: 25vh ;
  margin-right: 5vw;
  position: relative;
}
.wrapScroll p {
  margin-left: 5vw;
}
.request p {
  font-weight: normal;
  margin: 0 ;
  text-align: left;
}

.request img {
  margin-top: 2.5vh;
  height: 42px;
  width: 100%;
  object-fit: contain;
}
.request h2 {
  margin-top: 1vh;
}

.emergency {
  width: 100%;
  background-image: linear-gradient(to top right, #fbb040, #ef4136);
}
.query, .pain, .sanitery {
  margin-right: 5vw;
}
.query {
  background-image: linear-gradient(to top right, #57a249, #a1dd47);
  margin-left: 5vw;
}
.pain {
  background-image: linear-gradient(to top right, #e44252, #b4172c);
}
.sanitery {
  background-image: linear-gradient(to top right, #0890e4, #13cde7);
}

.informationWrap {
  display: flex;
}

.information {
  background-image: linear-gradient(to top right, #57a249, #a1dd47);
  height: 20vh;
  width: 100%;
  margin-bottom: 10px;
}
.information:nth-child(odd) {
  margin-right: 10px;
}

.cancel {
  background-image: linear-gradient(to top right, #e44252, #b4172c);
  height: 10vh;
  padding: 2.5vh;
}

/* Staff Dashboard */


nav {
  display: flex;
  justify-content: space-between;
}
nav * {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

.staffRequest {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.staffRequestInfo {
  width: 30vw;
  flex-grow: 2;
  padding-left: 5vw;
}
.staffRequest p {
  font-weight: normal;
  line-height: 4px;
}

.time {
  background: #0062ff;
  color: white;
  padding: 0px 10px;
  border-radius: 12px;
}

.requestIcon {
  background-image: linear-gradient(to top right, #fbb040, #ef4136);
  width: 42px;
  height: 42px;
  border-radius: 12px;
}


/* Staff Analytics */

.requestIcon {
  background-image: linear-gradient(to top right, #fbb040, #ef4136);
  width: 42px;
  height: 42px;
  border-radius: 12px;
}

.staffAnalytics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.staffAnalytics p {
  font-weight: normal;
  line-height: 4px;
}

.analyticValue {
  background: #0062ff;
  color: white;
  padding: 0px 10px;
  border-radius: 12px;
}
.analyticValue2 {
  color: white;
  padding: 0px 10px;
  border-radius: 12px;
  background: #a1dd47;
}
.analyticValue3 {
  color: white;
  padding: 0px 10px;
  border-radius: 12px;
  background: #ef4136;
}

/* staff request */

.fullHeader img {
  height: 42px;
  width: 100%;
  object-fit: contain;
  margin-top: 20px;
}
.fullHeader h2 {
  color: white;
  margin-top: 0px;
  margin-bottom: 10vh;
  text-align: center;
}

.fullRequest {
  background: white;
  border-radius: 12px;
  padding: 15px;
}
.fullRequest p {
  font-weight: normal!important;
}
.fullWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fullRequest .time {
  background: #0062ff;
  color: white;
  padding: 0px 10px;
  border-radius: 12px;
  line-height: 4px;
  margin-bottom: 2vh;
}

.acceptRequest {
  background-color: #0062ff; 
  padding: 5vw;
  color: white;
  border: none;
  font-weight: bold;
  border-radius:4px;
  font-size: 3.5vw;
  flex-grow: 2;
  margin-top: 2.5vh;
}

.delete{
  background-color: #e44242; 
  color: white;
  border: none;
  padding: 5vw;
  font-weight: bold;
  width: 40%;
  margin-left: 1vw;
  border-radius:4px;
  font-size: 3.5vw;
  margin-top: 2.5vh;